* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;

    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    z-index: 1;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.login-container h1 {
    text-align: center;
     margin-bottom: 8px;
    font-size: 24px;
    color: #4b3f72;
}

.login-container h2 {
    text-align: center;
     margin-top: 0;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #666;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
     font-size: 14px;
    font-weight: 600;
    color: #4b4b4b;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
     border-radius: 8px;
    font-size: 14px;
    outline: none;
}

input:focus {
    border-color: #8b7bb8;
    box-shadow: 0 0 0 3px rgba(139, 123, 184, 0.15);
}

button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    background-color: #6f5aa8;
    color: white;
    font-size: 15px;
    font-weight: 600;

    transition: 0.2s;
}

button:hover {
    background-color: #5d4b91;
    transform: translateY(-1px);
}

#mensaje {
    text-align: center;
}

.mascota {
    width: 150px;
    position: absolute;
    top: 52px;
   right: calc(50% + -170px);
    z-index: 0;
}

.login-wrapper {
    position: relative;
    width: 350px;
    margin: 100px auto;
}